@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a blog website aiming at producing a secure user application based on 
    Microsoft's ASP.NET Core 2.0 framework
</p>

<p>
    The idea of this blog is to provide members a way to share their posts while customers can read them and
    leave a comment.
</p>