@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <p>Kristiyan Vladimir (916747) <br />
        Swansea University  <br />
          <a href="">916747@swansea.ac.uk</a>
    </p>
 
</div>
